<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- 애그드랍 어떰 -->
<title></title>
</head>
<body>
    <div>
    <div><h1>이력서 확인</h1></div>
    <div>
        <table>
            <tr>
                <td>이름</td>
                <td>[[${resume.name}]]</td>
                <td>연락처</td>
                <td>[[${resume.tel}]]</td>
            </tr>
            <tr>
                <td>학력</td>
                <td>[[${resume.school}]]</td>
                <td>지원구분</td>
                <td>[[${resume.aa}]]</td>
            </tr>

        </table>
    </div>
    <div>
        <table>
            <tr>
                <td>자격증정보</td>
                <td></td>
            </tr>
            <tr>
                <td>경력정보</td>
                <td></td>
            </tr>
        </table>
    </div>
    <div>
        <table>
            <tr><td>자기소개</td></tr>
            <tr><td>[[${resume.intro}]]</td></tr>
        </table>
    </div>








</div>

</body>