<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<th:block th:fragment="itemSideFragment">
    <ul class="list-group">
        <li class="list-group-item" onclick="location.href='/admin/buyList';">구매 목록 조회</li>
        <li class="list-group-item active">상품 등록</li>
        <li class="list-group-item">상품 상태 변경</li>
        <li class="list-group-item">상품 정보 변경</li>
        <li class="list-group-item">상품 검색</li>
      </ul>
</th:block>
</body>
</html>