<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
><meta charset="UTF-8">
<title></title>
<th:block layout:fragment="content_css"></th:block>
<style>
    h3{
        background-color: aqua;
        
    }
</style>
</head>
<body>
    <h3>layout.html 파일입니다.</h3>
<div>
    <th:block th:replace="~{fragment/menu::FragmentMenu}"></th:block>
</div>
<div>
    <th:block th:replace="~{fragment/footer::FragmentFooter}"></th:block>
</div>
<div>
    <th:block th:replace="~{fragment/side_menu::FragmentSide}"></th:block>
</div>
<div>
    <th:block layout:fragment="FragmentLayout"></th:block>
</div>
    
</body>
</html>