<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
    <th:block th:fragment="itemSideFragment">
        <ul class="list-group">
            <li class="list-group-item ">카테고리 관리</li>
            <li class="list-group-item" style="background-color:rgba(0, 0, 0, 0.836); color: white;">상품 등록</li>
            <li class="list-group-item">상품 상태 변경</li>
            <li class="list-group-item">상품 정보 변경</li>
            <li class="list-group-item">상품 검색</li>
          </ul>

    </th:block>

</body>
</html>