<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" href="/stu_manage.css">
</head>
<body>
    <div></div>
    <table class="con">
        <colgroup>
            <col width="50%">
            <col width="50%">
        
        </colgroup>
        <tbody>
        <tr>
            <td>
                <div>
                    <!-- <select id="classSelecter" name="className" onchange="goSelect()"> -->
                    <select id="classSelecter" name="className" onchange="fetchSelect()">
                        <option value="0">전체</option>
                        <th:block th:each="cList:${cList}">
                            <option th:value="${cList.classCode}" th:selected="${stuVO.classCode==cList.classCode}">[[${cList.className}]]</option>
                        </th:block>
                    </select>
                </div>
                <div>
                    <table id="stu-list-table">
                        <colgroup>
                            <col width="10%">
                            <col width="30%">
                            <col width="10%">
                            <col width="*">
                        </colgroup>
                    <thead>
                        <tr>
                            <td>NO</td>
                            <td>반이름</td>
                            <td>학번</td>
                            <td>이름</td>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:each="list, state :${list}">
                        <tr>
                            <td class="css-td">[[${#lists.size(list)-state.index}]]</td>
                            <td>[[${list.className}]]</td>
                            <td>[[${list.stuNum}]]</td>
                            <td><span id="name-span" th:onclick="show([[${list.stuNum}]])">[[${list.stuName}]]</span></td> 
                        </tr>
                    </tbody>
                   
                    </th:block>
                    
                    </table>
                </div>
            </td>
<td>
    <div class="stu-detail-div">
        
    </div>
</td>
   
        </tr>
    </table>
</div>
    
    <script src="/stu_manage.js"></script>

</body>
</html>