<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/admin_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <!-- <link rel="stylesheet" href="/"> -->
</th:block>

<th:block layout:fragment="contentFragment">
    <div class="row">
        <div class="col">

            <div class="row mb-3">
                <div class="col">
                    <table class="table table-borderless align-middle">
                        <colgroup>
                            <col width="15%">
                            <col width="*">
                            <col width="15%">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col">
                                            <select class="form-select">
                                                <option value="">구매번호</option>
                                                <option value="">구매자ID</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td colspan="2">
                                    <div class="row">
                                        <div class="col">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col text-center">
                                            구 매 일 시
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col">
                                            <div class="input-group">
                                                <span class="input-group-text">From</span>
                                                <input type="date" class="form-control" aria-label="Username"
                                                    aria-describedby="basic-addon1">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="input-group">
                                                <span class="input-group-text">To</span>
                                                <input type="date" class="form-control" aria-label="Username"
                                                    aria-describedby="basic-addon1">
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col d-grid">
                                            <input type="button" class="btn btn-primary" value="검 색">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-striped table-hover align-middle text-center">
                        <colgroup>
                            <col width="10%">
                            <col width="10%">
                            <col width="30%">
                            <col width="30%">
                            <col width="20%">
                        <thead>
                            <tr>
                                <td>No</td>
                                <td>구매번호</td>
                                <td>구매자ID</td>
                                <td>결제 금액</td>
                                <td>구매일시</td>
                            </tr>

                        </thead>
                        <tbody>
                            <tr th:each="buy, state : ${buyList}" onclick="goModal(this)">
                                <td>[[${#lists.size(buyList)- state.index}]] </td>
                                <td>[[${buy.buyCode}]]</td>
                                <td>[[${buy.memberId}]]</td>
                                <td>[[${buy.buyPrice}]]</td>
                                <td>[[${buy.buyDate}]]</td>
                            </tr>


                        </tbody>

                        </colgroup>
                    </table>
                </div>
            </div>

        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade modal-lg" id="buy-detail-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">구매 상세 내역</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <colgroup>
                        <col width="25">
                        <col width="25">
                        <col width="25">
                        <col width="25">
                    </colgroup>
                    <table class="table table-striped table-hover align-middle text-center table-bordered" id="fild-1">
                        <tr>
                            <td>구매번호</td>
                            <td>101</td>
                            <td>구매자ID</td>
                            <td>태연</td>
                        </tr>
                        <tr>
                            <td>구매금액</td>
                            <td>10,000</td>
                            <td>구매일시</td>
                            <td>2024-02-07</td>
                        </tr>
                    </table>
                    <colgroup>
                    <col width="10">
                    <col width="40">
                    <col width="20">
                    <col width="30">
                    </colgroup>
                    <table class="table table-striped table-hover align-middle text-center" id="fild-2">
                        <tr>
                            <td>No</td>
                            <td>구매 상품</td>
                            <td>수량</td>
                            <td>결제 금액</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>
                                <img width="80px" src="">
                                구매 상품명

                            </td>
                            <td>1</td>
                            <td>10,000</td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <script src="/js/content/admin/admin_history.js"></script>
</th:block>

</html>