<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="adminMapper">
    <!--다음에 insert할 ITEM_CODE를 조회-->
    <select id="selectNextItemCode" resultType="int">
        SELECT IFNULL(MAX(ITEM_CODE), 0) + 1 FROM shop_item
    </select>

    <!-- 상품 등록 -->
    <insert id="insertItem">
        INSERT INTO SHOP_ITEM (
            ITEM_CODE
            , ITEM_NAME
            , ITEM_PRICE
            , ITEM_INTRO
            , CATE_CODE
        ) VALUES (
            #{itemCode}
            , #{itemName}
            , #{itemPrice}
            , #{itemIntro}
            , #{cateCode}
        )
    </insert>

    <!-- 상품 이미지 정보 등록 -->
    <insert id="insertImgs">
        INSERT INTO ITEM_IMAGE (
            ORIGIN_FILE_NAME
            , ATTACHED_FILE_NAME
            , IS_MAIN
            , ITEM_CODE
        ) VALUES
        <foreach collection="imgList" item="img" separator=",">
        (
            #{img.originFileName}
            , #{img.attachedFileName}
            , #{img.isMain}
            , #{img.itemCode}
        )
        </foreach>
    </insert>
    <select id="selectBuyList" resultMap="buyMapper.buy">
        SELECT BUY_CODE
        , MEMBER_ID
        , BUY_PRICE
        , BUY_DATE
        FROM SHOP_BUY
        ORDER BY BUY_DATE DESC


    </select>
    <select id="selectModal" resultMap="buyMapper.buy">
        SELECT BUY.BUY_CODE
        , DETAIL.ITEM_CODE
        , BUY_CNT
        , TOTAL_PRICE
        , ITEM_NAME
        , ATTACHED_FILE_NAME
        , BUY_DATE
        , BUY_PRICE
        , BUY.MEMBER_ID
        FROM buy_detail DETAIL INNER JOIN shop_item ITEM
        ON DETAIL.ITEM_CODE = ITEM.ITEM_CODE
        INNER JOIN item_image IMG
        ON IMG.ITEM_CODE = ITEM.ITEM_CODE
        INNER JOIN shop_buy BUY
        ON BUY.BUY_CODE = DETAIL.BUY_CODE
        WHERE IS_MAIN = 'Y'
        AND MEMBER_ID = #{memberId}
        AND BUY.BUY_CODE = #{buyCode}
    </select>

</mapper>






































