<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/user_layout}">

<th:block layout:fragment="content_css">


    <link rel="stylesheet" href="/">
</th:block>

<th:block layout:fragment="contentFragment">
    
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="row">
                <div class="offset-2 col-4 mt-2">
                    <th:block th:each="img:${detail.imgList}">
                        <th:block th:if="${img.isMain == 'Y'}">
                            <img th:src="@{/upload/} + ${img.attachedFileName}">
                        </th:block>
                    </th:block>
                </div>
                <div class="col-4">
                    <div class="row mb-3 mt-2">
                        <div class="col-12">[[${detail.itemName}]]</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12 " >￦<span id="price">[[${detail.itemPrice}]]</span></div>
                    </div>
                    <div class="row mb-3 align-items-center">
                        <div class="col-3">수량</div>
                        <form action="/cart/insert" method="post" id="insertCartForm">
                            <div class="col-9"><input type="number" class="form-control" value="1" id="su" min="1"></div>
                            <input type="hidden" name="itemCode" th:value="${detail.itemCode}">
                        </form>
                        
                    </div>
                    <div class="row mb-3">
                        <div class="col" >
                            총 구매가격 ￦<span id="fild">[[${detail.itemPrice}]]</span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col d-grid">
                            <input type="button" class="btn btn-primary" value="장바구니" style="background-color: black ; color: white;" th:onclick="goInsert([[${session.loginInfo}]], [[${detail.itemCode}]])">
                        </div>
                        <div class="col d-grid">
                            <input type="button" class="btn btn-primary" value="바로 구매" style="background-color: black ; color: white;">
                        </div>
                    </div>



                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    [[${detail.itemIntro}]]
                </div>
            </div>
            <th:block th:each="img : ${detail.imgList}">
                <th:block th:if="${img.isMain == 'N'}">
                    <div class="row">
                        <div class="col text-center">
                            <img th:src="@{/upload/} + ${img.attachedFileName}">
                        </div>
                    </div>
                </th:block>
            </th:block>

        </div>
    </div>

</th:block>

<th:block layout:fragment="content_js">

    <script src="/js/content/item/item_detail.js"></script>
</th:block>

</html>