<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->


<mapper namespace="boardMapper">




    <resultMap id="se" type="com.green.Board2.vo.BoardVO">
        <result column="BOARD_NUM" property="boardNum"/>
        <result column="TITLE" property="title"/>
        <result column="WRITER" property="writer"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="CONTENT" property="content"/>
        <result column="READ_CNT" property="readCnt"/>

    </resultMap>
    <insert id="insertList">
        INSERT INTO BOARD (

        TITLE
        ,CONTENT
        ,WRITER



        )
        VALUES(

        #{title}
        ,#{content}
        ,#{writer}





        )





    </insert>
    <select id="selectBoard" resultMap="se">
        SELECT BOARD_NUM
        ,TITLE
        ,CONTENT
        ,WRITER
        ,CREATE_DATE
        ,READ_CNT
        FROM BOARD
        <if test='searchValue != null and !searchValue.equals("")'>

            WHERE ${searchType} LIKE CONCAT('%,'#{searchValue}','%')
<!--            컬럼 자체가 객체로 넘어올 때는 달러 부호를 쓴다.-->

        </if>
        ORDER BY BOARD_NUM DESC
        LIMIT ${displayDataCnt} OFFSET ${displayDataCnt * (nowPage-1)}


    </select>
    <select id="selectDetail" resultMap="se">
        SELECT BOARD_NUM
        ,TITLE
        ,CONTENT
        ,WRITER
        ,CREATE_DATE
        ,READ_CNT
        FROM BOARD
        WHERE BOARD_NUM = #{boardNum}

    </select>
    <delete id="deleteBoard">
        DELETE FROM BOARD
        WHERE
        BOARD_NUM = #{boardNum}


    </delete>
    <update id="updateCnt">
        UPDATE BOARD
        SET
        READ_CNT = READ_CNT + 1
        WHERE BOARD_NUM=#{boardNum}


    </update>
    <select id="selectBoardCnt" resultType="int">
        SELECT COUNT(BOARD_NUM)
        FROM BOARD

    </select>


	
</mapper>































