<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="memberMapper">
    <resultMap id="member" type="com.green.Board2.vo.MemberVO">
        <id column="MEMBER_ID" property="memberId"/>
        <result column="MEMBER_PW" property="memberPw"/>
        <result column="MEMBER_NAME" property="memberName"/>
        <result column="GENDER" property="gender"/>
        <result column="MEMBER_EMAIL" property="memberEmail"/>
        <result column="IS_ADMIN" property="isAdmin"/>


    </resultMap>
    <insert id="insertMember">
        INSERT INTO BOARD_MEMBER (
        MEMBER_ID
        ,MEMBER_PW
        ,MEMBER_NAME
        ,GENDER
        ,MEMBER_EMAIL

        )
        VALUES (
        #{memberId}
        , #{memberPw}
        , #{memberName}
        , #{gender}
        , #{memberEmail}



        )




    </insert>
    <select id="login" resultMap="member">
            SELECT MEMBER_ID
        , MEMBER_NAME
        , IS_ADMIN
        FROM BOARD_MEMBER
        WHERE MEMBER_ID = #{memberId}
        AND MEMBER_PW = #{memberPw}





    </select>

	
</mapper>































