<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="replayMapper">
    <resultMap id="rep" type="com.green.Board2.vo.ReplayVO">
        <result column="REPLAY_NUM" property="replayNum"/>
        <result column="CONTENT" property="content"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="WRITER" property="writer"/>
        <result column="BOARD_NUM" property="boardNum"/>



    </resultMap>
    <insert id="insert">
        INSERT INTO BOARD_REPLAY(
        CONTENT
        ,WRITER
        ,BOARD_NUM


        )
        VALUES (
        #{content}
        , #{writer}
        , #{boardNum}


        )



    </insert>
    <select id="selectRep" resultMap="rep">
        SELECT
        REPLAY_NUM
        ,CONTENT
        ,CREATE_DATE
        ,WRITER
        ,BOARD_NUM
        FROM BOARD_REPLAY
        WHERE BOARD_NUM = #{boardNum}



    </select>
    <delete id="deleteRep">
        DELETE FROM BOARD_REPLAY
        WHERE REPLAY_NUM = #{replayNum}
    </delete>
	
</mapper>































