<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" id="num1"> 겹x
    <input type="text" class="num2">
    <input type="checkbox" value="1" class="num3">
    <input type="checkbox" value="2" class="num3">
    <input type="checkbox" value="3" class="num3">
    <input type="button" value="버튼" onclick="showDate()">
    


    <script>
        // dom객체(태그) 컨트롤
        // 태그 선택하기(접근하기)
        const tag1 = document.querySelector('#num1');
        console.log(tag1);
        //2. 클래스 속성이 num2인 태그를 선택
        const tag2 = document.querySelector('.num2');
        consloe.log(tag2);
        // 같은 클래스 속성을 가진 태그가 여러개하면 가장 처음 선언된 
        // 태그만 선택함
        const tag3= document.querySelector('.num3');
        console.log(tag3);

        //4. class 속성이 num3인 태그 모두를 선택
        const tag4 = document.querySelectorALL('.num3');
        console.log(tag4);
        
        //0번째 저장된 태그 출력
        console.log(tag[0]);
        
        //tag4의 전체 데이터 출력 
         for(let i = 0; i < tag4.length; i++){
            console.log(tag4[i]);
            
         }
         for(let e of tag4){
            
            console.log(e);

         }

        



        function showDate(){
            alert(111); 
        }
        
        
        


    </script>
    
</body>
</html>