<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" id="input1" value="10">
    <script>
        // 선택한 태그의 속성 값 읽어오기
        // 문법: 선택한 태그.속성명
        const tag1 = document.querySelector('#input1'); 
        console.log(tag1.value);
        console.log('in = '+ tag1.id);

        // 속성 값 변경하기 
        tag1.value = 20;
        
        
    </script>
    
</body>
</html>