<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" id="input1"> + <input type="text"  id="input2"> = 
   <input type="text" name="" id="input3"> <br>
   <input type="button" value="더하기" onclick="plus()"> 

   <script>
    const tag3 = document.querySelector('#input3');
    const tag1 = document.querySelector('#input1');
    const tag2 = document.querySelector('#input2');

    
    function plus(){
       const result = parseInt(tag1.value) + parseInt(tag2.value);
       tag3.value= result;
      
    

    }


   </script>
</body>
</html>