<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div id="container">
    <input type="button" value="원래 있는 버튼">

    </div>

    <input type="button" value="버튼 추가" onclick="addBtn()">
    <input type="button" value="버튼 삭제" onclick="removeBtn()">
    <!-- 하 시발 존나 힘들다 장기 꼬인 거 같다  -->
    <script>

        //태그 추가 및 삭제 
        function addBtn(){
            const divTag = document.querySelector('#container');
              // 태그 추가 
              // 첫번 째 매개변수 : 태그가 삽일 될 위치
              // 두번 째 매개변수 : 삽입할 태그 
              const str = '<input type="button" value="버튼">';
            divTag.insertAdjacentHTML('beforeend',str);


        }
        function removeBtn(){
            const divTag = document.querySelector('#container');
            // 이새끼는 진짜 무서운 새끼임 부모 자식 다 지움 
             divTag.remove();

            // 선택한 태그 안의 하위 태그들만 삭제 
            // divTag.innerHTML = '';
         
        }

    </script>
</body>
</html>