<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="stuMapper">
    <resultMap id="hi" type="com.green.FetchStudent.vo.StuVO">
        <result column="STU_NUM" property="stuNum"/>
        <result column="CLASS_CODE" property="classCode"/>
        <result column="STU_NAME" property="stuName"/>
        <result column="CLASS_NAME" property="className"/>


    </resultMap><resultMap id="hie" type="com.green.FetchStudent.vo.StuVO">
        <result column="STU_NUM" property="stuNum"/>

        <result column="STU_NAME" property="stuName"/>
        <result column="CLASS_NAME" property="className"/>


    </resultMap>
    <resultMap id="bye" type="com.green.FetchStudent.vo.ClassVO">
        <result column="CLASS_NAME" property="className"/>
        <result column="CLASS_CODE" property="classCode"/>
    </resultMap>
    <resultMap id="he" type="com.green.FetchStudent.vo.StudentVO">
        <result column="SCORE_NUM" property="scoreNum"/>
        <result column="KOR_SCORE" property="korScore"/>
        <result column="ENG_SCORE" property="engScore"/>
        <result column="MATH_SCORE" property="mathScore"/>
        <result column="STU_NUM" property="stuNum"/>


    </resultMap>
    <select id="selectStu" resultMap="hi">
    SELECT
        STU_NUM
        , STU_NAME
        , C.CLASS_CODE
        , CLASS_NAME
        FROM STUDENT_INFO S INNER JOIN CLASS_INFO C
        ON C.CLASS_CODE = S.CLASS_CODE
        <if test="classCode != 0">
            WHERE C.CLASS_CODE = #{classCode}


        </if>

</select>
    <select id="selectClass" resultMap="bye">
        SELECT
        CLASS_NAME
        ,CLASS_CODE
        FROM CLASS_INFO


    </select>
    <select id="sDetail" resultMap="he">
        select SCORE_NUM
        , KOR_SCORE
        , ENG_SCORE
        , MATH_SCORE
        , STU_NUM
        FROM STU_SCORE
        WHERE STU_NUM = #{stuNum}


    </select>
    <select id="iDetail" resultMap="hie">
        SELECT
        STU_NUM
        , STU_NAME
        , CLASS_NAME
        FROM STUDENT_INFO S INNER JOIN CLASS_INFO C
        ON C.CLASS_CODE = S.CLASS_CODE
        WHERE STU_NUM = #{stuNum}



    </select>
    <insert id="insert">
        INSERT INTO STU_SCORE(
        KOR_SCORE
        ,ENG_SCORE
        ,MATH_SCORE
        ,STU_NUM)
        VALUES (
        #{korScore}
        ,#{engScore}
        ,#{mathScore}
        ,#{stuNum}
        )

    </insert>

</mapper>































