/* 모든 html에서 공통적으로 적용되는 css */

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'S-CoreDream-3Light';
    /* font-size: 18pt; */
    font-weight: 500;
}

/* 쇼핑몰 제목 크기 변경 */
.main-title{
    font-size: 70pt;
}

.pointer-span:hover{
    cursor: pointer;
}

.header-div{
    margin-bottom: 1.5rem;
}




