<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
    <form action="insert2" method="post">
    <div><table>
        <tr>
            <td>제목</td>
            <td><input type="text" name="title"> </td>
        </tr>
        
        <tr>
            <td>내용</td>
            <td><textarea name="content"cols="30" rows="10"></textarea></td>
        </tr>
        
    </table></div>
    <div><input type="submit" value="글등록"></div>
    
</form>
</body>
</html>