<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
    <form action="insertMem" method="post">
        <div><table>
            <tr>
                <td>ID</td>
                <td><input type="text" name="memberId" ></td>
            </tr>
            <tr>
                <td>PW</td>
                <td><input type="text" name="memberPw" ></td>
            </tr>
            <tr>
                <td>이름</td>
                <td><input type="text" name="memberName" ></td>
            </tr>
            <tr>
                <td>성별</td>
                <td><input type="radio" name="gender" value="남성">남성
                    <input type="radio" name="gender" value="여성">여성</td>
            </tr>
            <tr>
                <td>이메일</td>
                <td><input type="text" name="memberEmail" ></td>
            </tr>

        </table></div>
        <div><input type="submit" value="회원가입"></div>






    </form>

</body>
</html>