<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table{

            width:500px;
            border: 1px solid black;
            border-collapse: collapse;
        }
        tr,td{
            border: 1px solid black;
        }





    </style>
</head>
<body>
    <table>
        <tr>
            <td>아이디</td>
            <td>[[${memberVO.id}]]</td>
            <td>이름</td>
            <td>[[${memberVO.pw}]]</td>
        </tr>
        <tr>
            <td>연락처</td>
            <td>[[${memberVO.telA}]]</td>
            <td>이메일</td>
            <td>[[${memberVO.em}]]</td>
        </tr>
        <tr>
            <td>생일</td>
            <td colspan="3">[[${memberVO.br}]]</td>
            
        </tr>
        <tr>
            <td>관심레슨</td>
            <td colspan="3">[[${memberVO.lesson}]]</td>
            
        </tr>
        <tr>
            <td>자기소개</td>
            <td colspan="3">[[${memberVO.intro}]]</td>
            
        </tr>
        
    


</table>


</body>
</html>