<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="reg2" method="post">
    아이디 <input type="text" name="id"> <br>
    비밀번호 <input type="text" name="pw"> <br>
    이름 <input type="text" name="name"> <br>
    연락처 <select name="tel">
      <option value="010">010</option>
      <option value="011">011</option>
      <option value="012">012</option>
</select>
    <input type="text" name="tel">
    <input type="text" name="tel"> <br>
    이메일 <input type="text" name="em"> <br>
    생일 <input type="text" name="br"> <br>

    <input type="submit" value="화원가입">


</form>

</body>
</html>