<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="adminMapper">
    <select id="selectNextItemCode" resultType="int">
        SELECT IFNULL(MAX(ITEM_CODE),0) + 1 FROM shop_item
    </select>
    <insert id="insertItem">
        INSERT INTO SHOP_ITEM
        (
        ITEM_CODE
        , ITEM_NAME
        , ITEM_PRICE
        , ITEM_INTRO
        , CATE_CODE
        )
        VALUES(
        #{itemCode}
        , #{itemName}
        , #{itemPrice}
        , #{itemIntro}
        , #{cateCode}
        )

    </insert>

    <insert id="insertImgs">
        INSERT INTO ITEM_IMAGE(
          ORIGIN_FILE_NAME
        , ATTACHED_FILE_NAME
        , IS_MAIN
        , ITEM_CODE
        )
        VALUES
        <foreach collection="imgList" item="img" separator=",">
            (
            #{img.originFileName}
            , #{img.attachedFileName}
            , #{img.isMain}
            , #{img.itemCode}
            )
        </foreach>



    </insert>

</mapper>































