<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="itemMapper">


    <resultMap id="img" type="com.green.shop.item.vo.ImgVO">
        <id column="IMG_CODE" property="imgCode"/>
        <result column="ORIGIN_FILE_NAME" property="originFileName"/>
        <result column="ATTACHED_FILE_NAME" property="attachedFileName"/>
        <result column="IS_MAIN" property="isMain"/>
        <result column="ITEM_CODE" property="itemCode"/>
    </resultMap>

    <resultMap id="hh" type="com.green.shop.item.vo.CategoryVO">
        <id column="CATE_CODE" property="cateCode"/>
        <result column="CATE_NAME" property="cateName"/>

    </resultMap>
    <resultMap id="oo" type="com.green.shop.item.vo.ItemVO">
        <id column="ITEM_CODE" property="itemCode"/>
        <result column="ITEM_NAME" property="itemName"/>
        <result column="ITEM_PRICE" property="itemPrice"/>
        <result column="ITEM_STOCK" property="itemStock"/>
        <result column="ITEM_INTRO" property="itemIntro"/>
        <result column="REG_DATE" property="regData"/>
        <result column="CATE_CODE" property="cateCode"/>
        <collection property="imgList" resultMap="img"/>
    </resultMap>

<select id="selectItem" resultMap="hh">
    SELECT
    CATE_CODE,
    CATE_NAME
    FROM ITEM_CATEGORY
    ORDER BY CATE_CODE ASC



</select>
    <select id="selectItemList" resultMap="oo">
        SELECT
        ITEM_NAME
        ,ITEM_PRICE
        ,ITEM_STOCK
        ,ITEM_INTRO
        ,REG_DATE
        ,CATE_CODE
        ,s.ITEM_CODE
        ,ATTACHED_FILE_NAME
        FROM SHOP_ITEM s INNER JOIN ITEM_IMAGE i
        ON s.ITEM_CODE = i.ITEM_CODE
        WHERE IS_MAIN = 'Y'
        ORDER BY REG_DATE DESC;


    </select>

    <select id="selectDetail" resultMap="oo">
        SELECT ITEM.ITEM_CODE
        , ITEM_NAME
        , ITEM_PRICE
        , ITEM_INTRO
        , ATTACHED_FILE_NAME
        , IS_MAIN
        FROM shop_item ITEM INNER JOIN item_image IMG
        ON ITEM.ITEM_CODE = IMG.ITEM_CODE
        WHERE ITEM.ITEM_CODE = #{itemCode};

    </select>



	
</mapper>































